{% extends "base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="col-sm-4 col-md-4 navbar-right">
    

    <form class="navbar-form" role="search" action="{% url 'search_products' %}">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by category" name="image">
        <div class="input-group-btn">
          <button class="btn data" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>

    </form>
  </div>
<div class="row container-fluid content">
    {% for object in items_list %}

    <div class="card col-md-4 m-4">
        <img class="card-img-top" width="100%" data-toggle="modal" data-target="#{{object.id}}" src="{{object.product_pic.url}}" alt="-------">

        <div class="card-body">
            <h5 class="card-title"><span>{{ object.name }}</span></h5>
            <p>Price: Ksh {{ object.price }}</p>
            <button data-product={{object.id}} data-action="add" class="btn btn-success add-btn update-cart">Add to Cart</button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{object.id}}"><a href="{% url 'details' %}">
                View item
            </button>

            <div class="modal fade" id="{{object.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ object.name|title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{object.product_pic.url}}" alt="{{object.name}}" class="img-fluid">

                            <p class="imgdesc" style="padding-top: 10px;">Description:<span
                                    style="font-weight: bold;">{{object.description}}</span></p>
                            <p>Price:<span style="font-weight: bold;">${{object.price}}</span></p>
                            <button class="mr-1 badge badge-info"><i
                                class="fas fa-location-arrow"></i>{{object.category}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endfor %}

    
</div>

{% endblock %}